.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
.phpunit.result.cache
.idea

/public/sencha/app.js
/public/sencha/app.json
/public/sencha/bootstrap.css
/public/sencha/bootstrap.js
/public/sencha/bootstrap.json
/public/sencha/bootstrap.jsonp
/public/sencha/build.xml
/public/sencha/index.html
/public/sencha/Readme.md
/public/sencha/workspace.json
/public/sencha/ext/
/public/sencha/build/
/public/sencha/.sencha/
