.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml
.phpunit.result.cache

sencha/.sencha
sencha/build
sencha/ext
sencha/app.js
sencha/app.json
sencha/bootstrap.css
sencha/bootstrap.json
sencha/bootstrap.jsonp
sencha/build.xml
sencha/index.html
sencha/Readme.md
sencha/workspace.json
